<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAOkC-YTNP7WXSzd5gg7wY6xXeF3UE1ll0</string>
	<key>GCM_SENDER_ID</key>
	<string>260127231420</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>scupid500.S-Cupid500</string>
	<key>PROJECT_ID</key>
	<string>fir-cupid500</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-cupid500.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:260127231420:ios:2768adc677a4513585efb9</string>
</dict>
</plist>